<footer class="page-footer">
          <div class="container">
            <div class="row">
              <div class="col s12 m6 l3">
                <img src="https://photos.xpertise.ae/uploads/1/16/zxt7bukjvvokioey.png" class="foot-logo">
                <p class="grey-text text-lighten-4">
                    Senaeyat carries the trusted legacy of LRED, the pioneering real estate arm of Lootah Holdings.
                </p>
              </div>
              <div class="col s12 m6 l3" align="center">
                <h5 class="white-text">Company</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="#!">Senaeyat</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Blogs</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Privacy Policy</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Terms & Conditions</a></li>
                </ul>
              </div>
              <div class="col s12 m6 l3" align="center">
                <h5 class="white-text">Quick Links</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="#!">Media Center</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Master Plan</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Payment Plans</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">FAQ's</a></li>
                </ul>
              </div>
              <div class="col s12 m6 l3" align="center">
                <h5 class="white-text">Contact Us</h5>
                
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © {{currentYear}} Copyright {{company}}.
            <a class="grey-text text-lighten-4 right" href="#!">Developed by: Xpertise Creative Studio</a>
            </div>
          </div>
</footer>