<nav class="navbar-material">
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo left">
          <img src="https://photos.xpertise.ae/uploads/1/16/zxt7bukjvvokioey.png">
      </a>
      <a href="javascript:;" data-target="nav-trigger" class="sidenav-trigger right"><i class="material-icons">menu</i></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/">Home</a></li>
        <li><a href="/about">About Us</a></li>
        <li><a href="/project">Project</a></li>
        <li><a href="/media">Media Center</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </div>
  </nav>
  <ul class="sidenav" id="nav-trigger">
    <li><a href="/">Home</a></li>
    <li><a href="/about">About Us</a></li>
    <li><a href="/project">Project</a></li>
    <li><a href="/media">Media Center</a></li>
    <li><a href="/contact">Contact</a></li>
  </ul>