<div class="carousel carousel-slider center">
    <div class="carousel-fixed-item center">
      <a class="waves-effect waves-light btn-large right"><i class="material-icons left">cloud</i>LEARN MORE</a>
    </div>
    <div class="carousel-item white-text" href="#one!">
      <img src="https://photos.xpertise.ae/uploads/1/17/av1t0hfcrpgedoxh.jpeg">
      <h2>First Panel</h2>
      <p class="white-text">This is your first panel</p>
    </div>
</div>

<div class="row">
      <div class="col m6">
          <h3>SENAEYAT</h3>
          <p>Senaeyat is the first lease-to-own industrial warehouses concept in Dubai, aimed at providing cost-effective options for businesses, filling in the market gap of allowing full ownership of industrial warehouses.</p>
          <p>It is perfect for businesses who want to expand more but would also want to save more. Through its lease-to-own turnkey properties, rental expense becomes property asset that appreciates over time.</p>
          <br/><a class="waves-effect waves-light btn right">READ MORE</a>
      </div>
      <div class="col m6">
         <div class="video-container">
        <iframe height="550" src="//www.youtube.com/embed/Q8TXgCzxEnw?rel=0" frameborder="0" allowfullscreen></iframe>
      </div>
      </div>
</div>

<div class="row">
        <div class="col l4">
        <div class="card">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="https://via.placeholder.com/300x300">
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
      <p><a href="#">This is a link</a></p>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
      <p>Here is some more information about this product that is only revealed once clicked on.</p>
    </div>
  </div>
      </div>
      <div class="col l4">
        <div class="card">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="https://via.placeholder.com/300x300">
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
      <p><a href="#">This is a link</a></p>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
      <p>Here is some more information about this product that is only revealed once clicked on.</p>
    </div>
  </div>
      </div>
      <div class="col l4">
        <div class="card">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="https://via.placeholder.com/300x300">
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
      <p><a href="#">This is a link</a></p>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
      <p>Here is some more information about this product that is only revealed once clicked on.</p>
    </div>
  </div>
      </div>
</div>

<div class="row">
        <div class="col l4">
        <div class="card">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="https://via.placeholder.com/300x300">
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
      <p><a href="#">This is a link</a></p>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
      <p>Here is some more information about this product that is only revealed once clicked on.</p>
    </div>
  </div>
      </div>
      <div class="col l8">
        <div class="card">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="https://via.placeholder.com/600x292">
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
      <p><a href="#">This is a link</a></p>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
      <p>Here is some more information about this product that is only revealed once clicked on.</p>
    </div>
  </div>
      </div>
</div>

<div class="row">
        <div class="col l4">
        <div class="card">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="images/office.jpg">
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
      <p><a href="#">This is a link</a></p>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
      <p>Here is some more information about this product that is only revealed once clicked on.</p>
    </div>
  </div>
      </div>
      <div class="col l4">
        <div class="card">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="images/office.jpg">
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
      <p><a href="#">This is a link</a></p>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
      <p>Here is some more information about this product that is only revealed once clicked on.</p>
    </div>
  </div>
      </div>
      <div class="col l4">
        <div class="card">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="images/office.jpg">
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
      <p><a href="#">This is a link</a></p>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
      <p>Here is some more information about this product that is only revealed once clicked on.</p>
    </div>
  </div>
      </div>
</div>